<div class="container">
    <h2>Añadir Empleado</h2>
    <form method="post">
        <label class="form-label">Introduce el apellido</label>
        <input type="text" class="form-control" name="apellido"/>

        <label class="form-label">Introduce el oficio</label>
        <input type="text" class="form-control" name="oficio" />

        <label class="form-label">Introduce el director</label>
        <input type="text" class="form-control" name="director" />

        <label class="form-label">Introduce el salario</label>
        <input type="text" class="form-control" name="salario" />

        <label class="form-label">Introduce la comisión</label>
        <input type="text" class="form-control" name="comision" />

        <label class="form-label">Introduce el nombre del departamento:</label>
        <input type="text" class="form-control" name="departamento" />

        <button class="btn btn-success">Crear</button>
    </form>
</div>